.nav-tab {
  padding: 6px 12px;
  background-color: var(--color-light-gray);
  color: var(--color-navy);
  border: 1px solid var(--color-light-gray-hover);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.nav-tab:hover {
  background-color: var(--color-light-gray-hover);
}

.nav-tab.active {
  background-color: var(--color-offwhite);
  font-weight: bold;
}
