
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --color-offwhite: #F2F8FC;
  --color-navy: #232d3d;
  --color-navy-bg: var(--color-navy);
  --color-white-text: #fff;
  --color-light-blue: #a7c6ea;
  --color-light-blue-hover: #a2bacf;
  --color-light-gray: #F5F5F5;
  --color-light-gray-hover: #E0E0E0;
  --color-success: #4CAF50;
  --color-error: #B30000;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
}

body.dark-mode {
  --color-offwhite: #232d3d; /* offwhite backgrounds become navy */
  --color-navy: #F2F8FC; /* navy text becomes offwhite */
  --color-navy-bg: #a7c6ea; /* navy backgrounds become light blue */
  --color-white-text: #232d3d; /* white text becomes navy */
}

body {
  margin: 0;
  background-color: var(--color-offwhite);
  color: var(--color-navy);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
